/*reset*/
* {

    margin: 0;
    font-family: Arial;
    padding: 0;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0px;
}

.preto {
    background: dimgray;
}

/*corpo*/
.corpo {

    width: 100%;
}

/*conteudo*/
.conteudo {

    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    padding: 5px;

}

/*logo*/
.logo {

    width: 120px;
    height: 120px;
}

/*menu*/
.menu {

    display: block ;
    float: right;
    margin-top: 40px;
    background: forestgreen;
    border-radius: 20px;

}

.menu li {

    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    font-size: 10pt;
}

.menu li:hover {

    background: orange;
    border-radius: 20px;
}

.menu a {

    color: white;
    text-decoration: none;
}
/*
.menu a:hover {

    color: gray;
}*/

/*slide de imagens*/

.slide {
    min-height: 350px;
    border: 5px solid dimgray ;
    position: relative;

}
.slideImagem {
    position: absolute;
    opacity: 0;
    animation: animaSlide 15s infinite;
    -webkit-animation: animaSlide 15s infinite;
}

@keyframes animaSlide {

    25% {
        opacity: 0;
    }



    75% {
        opacity: 1;
    }



}

@-webkit-keyframes animaSlide {

    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

}

.slideImagem:nth-child(0) {
    animation-delay: 0s;
}

.slideImagem:nth-child(1) {
    animation-delay: 0s;
}

.slideImagem:nth-child(2) {
    animation-delay: 5s;
}